# Dependencies
node_modules

# Environment
.env
.env.*

# Local database
*.db
*.db-shm
*.db-wal

# Logs
*.log
logs

# Caches
eslintcache
.cache
*.tsbuildinfo
.TSBuildInfo

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.github

# Docs
README.md
CLAUDE.md
*.md
